<section class="bg-black text-center text-white pt-5 pb-5 mt-5 mb-5">
    <div class="container slide-left">
        <h1 class="display-1 text-white feedback-title" id="feedbacks">depoimentos</h1>
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-4 mt-4">
                <div
                    class="border border-magentela rounded border-magentela-shadow gap-4 h-300 p-2 d-flex flex-column align-items-center justify-content-center">
                    <img width="100" height="80" class="img-feeedback border border-magentela border-magentela-shadow"
                        src="https://lucasmesi.s3.sa-east-1.amazonaws.com/feedbacks/leo-soja.jpeg"
                        alt="Hermes.jpeg">
                    <div class="d-flex flex-column gap-3">
                        <h4 class="fw-bold card-title">Léo Mendes</h4>
                        <p class="card-text fw-lighter fst-italic">
                            "O Lucas demonstrou ser um profissional excepcional ao longo da nossa parceria, me surpreendendo positivamente com sua habilidade de transformar ideias complexas em resultados de alta qualidade. 

                            Seu comprometimento, disciplina e foco na entrega superaram as minhas expectativas, além de exibir um talento único de incorporar referências estrangeiras em seu trabalho, sempre cumprindo com os prazos estipulados"
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div
                    class="border border-magentela rounded border-magentela-shadow gap-4 h-300 p-2 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-feeedback border border-magentela border-magentela-shadow"
                        src="https://lucasmesi.s3.sa-east-1.amazonaws.com/feedbacks/rodrigo-neri.jpeg"
                        alt="Hermes.jpeg">
                    <div class="d-flex flex-column gap-3">
                        <h4 class="fw-bold card-title">Rodrigo Neri</h4>
                        <p class="card-text fw-lighter fst-italic">
                            "Profissonal competente, com preço justo e, na minha opinião, o mais importante, respeita
                            todos
                            os prazos combinados. Após começarmos o trabalho, a visibilidade da minha empresa alcançou
                            patamares jamais imaginados. Recomendo de olhos fechados o trabalho do Lucas!"
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div
                    class="border border-magentela rounded border-magentela-shadow gap-4 h-300 p-2 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-feeedback border border-magentela border-magentela-shadow" src="https://lucasmesi.s3.sa-east-1.amazonaws.com/feedbacks/Luana.jpeg"
                        alt="Hermes.jpeg">
                    <div class="d-flex flex-column gap-3">
                        <h4 class="fw-bold card-title">Luana Carolina</h4>
                        <p class="card-text fw-lighter fst-italic">
                            "Sempre fico impressionada com a agilidade do Lucas. Além de entregar tudo muito bem filmado
                            e
                            editado no prazo, tem conhecimento em efeitos visuais que o permite criar vídeos realmente
                            diferenciados."
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div
                    class="border border-magentela rounded border-magentela-shadow h-300 gap-4 p-2 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-feeedback border border-magentela border-magentela-shadow" src="https://lucasmesi.s3.sa-east-1.amazonaws.com/feedbacks/Hermes.jpeg"
                        alt="Hermes.jpeg">
                    <div class="d-flex flex-column gap-3">
                        <h4 class="fw-bold card-title">Hermes Macedo</h4>
                        <p class="card-text fw-lighter fst-italic">
                            "Profissional Dedicado! Entrega o trabalho no tempo combinado e consegue atender a
                            expectativa!
                            Contratarei mais vezes!!!"
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div
                    class="border border-magentela rounded border-magentela-shadow gap-4 h-300 p-2 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-feeedback border border-magentela border-magentela-shadow" src="" alt="Rafael.jpeg">
                    <div class="d-flex flex-column gap-3">
                        <h4 class="fw-bold card-title">Rafael Ferreira</h4>
                        <p class="card-text fw-lighter fst-italic">
                            "O trabalho desenvolvido pelo Lucas para minha assessoria me colocou em outro patamar na
                            apresentação do serviço e fechamento dos contratos. Profissional extremamente comprometido e
                            caprichoso com a entrega e detalhes. Recomendo sem pestanejar!"
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>