<section class="bg-black text-center text-white pt-5 pb-5 mt-5 mb-5">
    <div class="container slide-left">
        <h1 class="display-1 fs-6rem text-border fill-white" id="feedbacks">Depoimentos</h1>
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-4 mt-4">
                <div
                    class="bg-gray border-magentela-shadow gap-4 h-300 p-2 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-feeedback"
                        src="https://lucasmesi.s3.sa-east-1.amazonaws.com/feedbacks/Jeferson.jpeg"
                        alt="Hermes.jpeg">
                    <div class="d-flex flex-column gap-3">
                        <h4 class="fw-bold card-title">Jeferson De Freitas Marques</h4>
                        <p class="card-text fw-lighter fst-italic">
                            "Profissional de alta qualidade, capaz de criar vídeos que retêm e prendem a atenção do
                            público.
                            Recomendo com toda certeza aos vários profissionais de diferentes áreas que se interessarem
                            em
                            alavancar seus vídeos na internet."
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div
                    class="bg-gray border-magentela-shadow gap-4 h-300 p-2 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-feeedback"
                        src="https://lucasmesi.s3.sa-east-1.amazonaws.com/feedbacks/rodrigo-neri.jpeg"
                        alt="Hermes.jpeg">
                    <div class="d-flex flex-column gap-3">
                        <h4 class="fw-bold card-title">Rodrigo Neri</h4>
                        <p class="card-text fw-lighter fst-italic">
                            "Profissonal competente, com preço justo e, na minha opinião, o mais importante, respeita
                            todos
                            os prazos combinados. Após começarmos o trabalho, a visibilidade da minha empresa alcançou
                            patamares jamais imaginados. Recomendo de olhos fechados o trabalho do Lucas!"
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div
                    class="bg-gray border-magentela-shadow gap-4 h-300 p-2 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-feeedback" src="https://lucasmesi.s3.sa-east-1.amazonaws.com/feedbacks/Luana.jpeg"
                        alt="Hermes.jpeg">
                    <div class="d-flex flex-column gap-3">
                        <h4 class="fw-bold card-title">Luana Carolina</h4>
                        <p class="card-text fw-lighter fst-italic">
                            "Sempre fico impressionada com a agilidade do Lucas. Além de entregar tudo muito bem filmado
                            e
                            editado no prazo, tem conhecimento em efeitos visuais que o permite criar vídeos realmente
                            diferenciados."
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div
                    class="bg-gray border-magentela-shadow h-300 gap-4 p-2 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-feeedback" src="https://lucasmesi.s3.sa-east-1.amazonaws.com/feedbacks/Hermes.jpeg"
                        alt="Hermes.jpeg">
                    <div class="d-flex flex-column gap-3">
                        <h4 class="fw-bold card-title">Hermes Macedo</h4>
                        <p class="card-text fw-lighter fst-italic">
                            "Profissional Dedicado! Entrega o trabalho no tempo combinado e consegue atender a
                            expectativa!
                            Contratarei mais vezes!!!"
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div
                    class="bg-gray border-magentela-shadow gap-4 h-300 p-2 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-feeedback" src="" alt="Rafael.jpeg">
                    <div class="d-flex flex-column gap-3">
                        <h4 class="fw-bold card-title">Rafael Ferreira</h4>
                        <p class="card-text fw-lighter fst-italic">
                            "O trabalho desenvolvido pelo Lucas para minha assessoria me colocou em outro patamar na
                            apresentação do serviço e fechamento dos contratos. Profissional extremamente comprometido e
                            caprichoso com a entrega e detalhes. Recomendo sem pestanejar!"
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>