<section class="top text-center text-white mt-5 mb-md-5 pb-5">
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-6 slidein mt-5">
                <h1 class="text-start ff-gotham display-5">Mude o patamar da sua empresa com mais cliques, mais clientes
                    e mais
                    rendas.</h1>
                <h3 class="text-start fs-2 fw-lighter mt-5 ">O audiovisual veio para ficar, e se você não produzir
                    conteúdo
                    nesse formato, ficará pra trás. Vamos começar?</h3>

                <div class="d-flex justify-content-md-start mt-5">
                    <a class="btn btn-magentela text-white border-0 pt-3 pb-3 ps-100 pe-100 fs-5 btn-hover"
                        target="_blank"
                        href="https://api.whatsapp.com/send?phone=5561981923272&text=Ol%C3%A1,%20gostaria%20de%20conhecer%20melhor%20os%20seus%20servi%C3%A7os!">
                        Quero saber mais!
                    </a>
                </div>
            </div>
            <div class="col-md-6 mt-4 d-flex flex-column align-items-md-center">
                <img class="img-fluid mh-600 img-mesi"
                    src="https://lucasmesi.s3.sa-east-1.amazonaws.com/mesi-fotos/mesi-sem-fundo.png"
                    alt="mesi-red.jpeg">
            </div>
        </div>
    </div>

</section>