<section class=" portfolio text-center text-white mb-5 pb-5">
  <h1 class="container display-1 text-white mt-5" id="portfolio">portfolio</h1>

  <div class="portfolio d-flex ov-hidden gap-5 justify-content-center mt-5">
    <div *ngFor="let vertical of verticais" (click)="videoClicked($event)"
      class="position-relative card-portfolio border border-magentela border-magentela-shadow rounded"
      ngClass="{{vertical.id == 'video3' ? 'card-active' : ''}}">
      <video (mouseout)="outVideo($event)" (mouseover)="hoverVideo($event)" poster="{{vertical.thumb}}" class="rounded" id="{{vertical.id}}" src="{{vertical.url}}" ></video>
      <img class="player-control play position-absolute" src="../../../assets/icons/play.svg" alt="play icon">
      <img class="player-control pause position-absolute" src="../../../assets/icons/pause.svg" alt="pause icon">
    </div>
  </div>

  <div class="container d-flex justify-content-center mt-5 pt-5">
    <a class="btn btn-magentela  text-white border-0 ps-5 pe-5 pt-4 pb-4 fs-3 btn-hover" target="_blank"
      href="https://api.whatsapp.com/send?phone=5561981923272&text=Ol%C3%A1,%20gostaria%20de%20conhecer%20melhor%20os%20seus%20servi%C3%A7os!">
      Solicite seu orçamento
    </a>
  </div>
</section>