<section class="container portfolio text-center text-white mt-5 pt-5 mb-5 pb-5">
    <h1 class="display-1 text-border fill-white fs-6rem mt-5" id="portfolio">Portfolio</h1>

    <div class="row d-flex justify-content-center mt-3 slide-right">
        <div class="d-flex flex-column align-items-start text-magentela pt-5 mb-5 pb-5">
            <h3>Verticais</h3>
            <hr class="w-100 m-0">
        </div>

        <div class="col-md-6 d-flex justify-content-start">
            <div class="w-360 position-relative h-660">
                <img class="mh-660 position-absolute iphone-image" src="../../../assets/iphone-no-camera.svg"
                    alt="iphone-no-camera.svg">
                <img class="position-absolute camera-iphone" src="../../../assets/camera-iphone.svg" alt="">
                <video #videoMobile class="w-100 mh-660 position-absolute iphone-video"
                    src={{currentVideoMobile.url}}></video>
                <p [ngClass]="{'d-none': currentIcon !== videoPlayed}" class="fs-5 text-magentela fw-bold position-absolute info-text">Aperte o play para começar!</p>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-start mt-5">
            <div class="d-flex flex-column gap-3 me-3">
                <h3 class="w-100 fs-2">{{currentVideoMobile.title}}</h3>
                <div class="w-100 d-flex justify-content-around">
                    <button (click)="prevVideo()" class="btn btn-default border-0">
                        <img width="60" src="../../../assets/icons/back.svg" alt="back.svg">
                    </button>
                    <button (click)="playOrPauseVideo()" class="btn btn-default border-0">
                        <img width="60" src={{currentIcon}} alt="pause.svg">
                    </button>
                    <button (click)="nextVideo()" class="btn btn-default border-0">
                        <img width="60" src="../../../assets/icons/next.svg" alt="next.svg">
                    </button>
                </div>
                <p class="text-center mt-5">{{currentVideoMobile.description}}</p>
            </div>
        </div>

    </div>

    <div class="row d-flex justify-content-center mt-3 slide-right pb-5">
        <div class="d-flex flex-column align-items-start text-magentela pb-5 mb-5">
            <h3>Horizontais</h3>
            <hr class="w-100 m-0">
        </div>

        <div class="col-md-12 mt-5 d-flex align-items-center justify-content-center"
            *ngFor="let video of horizontais; let index = index">
            <div class="card border-0 bg-transparent position-relative">
                <video (click)="playOrPauseVideoDesktop(index)" id=videoDesktop{{index}} class="img-fluid mh-600"
                    poster={{video.thumb}} src={{video.url}}></video>
                <span [ngClass]="{'d-none': !videoHorizontalPaused}" (click)="playOrPauseVideoDesktop(index)"
                    class="w-100 display-3 position-absolute text-uppercase fs-6rem fw-bold title-video-desktop">
                    <span class="text-border">{{video.titleBorder}}</span>
                    {{video.title}}
                </span>
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-center mt-5 pt-5">
        <a class="btn btn-magentela  text-white border-0 ps-5 pe-5 pt-4 pb-4 fs-3 btn-hover" target="_blank"
            href="https://api.whatsapp.com/send?phone=5561981923272&text=Ol%C3%A1,%20gostaria%20de%20conhecer%20melhor%20os%20seus%20servi%C3%A7os!">
            Solicite seu orçamento
        </a>
    </div>
</section>