<section class="container text-center text-white mt-md-5 pt-md-5">
    <div class="row">
        <div class="col-md-4 d-md-block d-none">
            <img class="img-fluid h-100 about-vertical rounded"
                src="https://lucasmesi.s3.sa-east-1.amazonaws.com/mesi-fotos/foto-mesi-about.jpg"
                alt="sobre-vertical.png">
        </div>
        <div class="col-md-8 slidein d-flex flex-column justify-content-start align-items-end ps-md-5">
            <h1 class="display-1 fs-6rem text-start w-100">
                <span class="text-border">Quem sou</span>
                <span class="text-white"> eu?</span>
            </h1>
            <h3 class="display-1 hover text-start flex-grow-1 d-flex flex-column justify-content-center">
                <p class="fs-2">Eu me chamo </p>
                <span class="text-border">LUCAS </span>
                <span class="text-magentela">MESIANO,</span>
                <p class="fs-2">sou videomaker de Brasília e corresponsável pelo crescimento de muitas empresas e
                    negócios locais.</p>
            </h3>
        </div>
    </div>
</section>
<div class="d-flex ov-hidden">
    <img class="img-fluid names" src="../../../assets/names.svg" alt="">
    <img class="img-fluid names" src="../../../assets/names.svg" alt="">
</div>