<section class="container text-center text-white mt-5 pt-5">
    <h2 class="position-relative display-4">Sobre mim</h2>
    <p class="mt-5">
        Eu me chamo Lucas Mesiano e tenho 20 anos. Desde os 16, estudo sobre audiovisual e venho aplicando os meus
        conhecimentos diariamente nos meus projetos. O vídeo tem um potencial enorme de
        <span class="text-magentela">
            cativar pessoas
        </span>
        . É um recurso
        muito forte quando se trata de
        <span class="text-magentela">
            captar clientes
        </span>
        .E, por isso, escolhi dedicar a minha vida a esse
        <span class="text-magentela">
            propósito
        </span>
        , ajudar pessoas e empresas a chegarem onde elas
        sempre
        <span class="text-magentela">
            sonharam
        </span>
        .
    </p>
</section>