<section class="container text-center text-white mt-md-5 pt-md-5">
    <div class="row">
        <div class="col-md-4 d-md-block d-none">


            <video class="img-fluid h-100 about-vertical border-magentela-shadow rounded"
                src="https://lucasmesi.s3.sa-east-1.amazonaws.com/videos/oculos-mesi.mp4"
                alt="Mesi com óculos VR"
                autoplay loop
                ></video>
        </div>
        <div class="col-md-8 slidein d-flex flex-column justify-content-start  ps-md-5">
            <h1 class="display-1 text-start w-100">
                <span class="text-white">quem sou eu?</span>
            </h1>
            <div class="hover text-start flex-grow-1 d-flex flex-column justify-content-center">
                <p class="fs-4 mb-0">eu me chamo </p>
                <span class="fst-italic display-5 fw-bold text-magentela">Lucas Mesiano<span
                        class="text-white">,</span></span>
                <p class="fs-4">tenho 21 anos e trabalho com produção audiovisual <br> há mais de 3 anos.</p>

                <p class="fs-4">
                    Já atendi clientes como Petrobras, CASACOR e <br> Liberum Energia, além de ser corresponsável pelo
                    <br>
                    crescimento de vários estabelecimentos aqui de <br> Brasília.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- <div class="d-flex ov-hidden">
    <img class="img-fluid names" src="../../../assets/names.svg" alt="">
    <img class="img-fluid names" src="../../../assets/names.svg" alt="">
</div> -->