<section class="container portfolio text-center text-white mt-5 mb-5">
    <h1 class="display-1 fs-6rem pb-5" id="portfolio">
        <span class="text-border fill-white">ENTRE </span>
        <span class="text-white">EM CONTATO</span>
    </h1>

    <div class="position-relative border-magentela bg-dark mt-5 p-5 pt-0">
        <img width="100" height="80" class="position-absolute logo-mesi-form" src="../../../assets/logomesi.svg" alt="">

        
        <div class="row pt-5">
            <h3 class="pt-5 mt-5">Envie sua proposta e vamos <br> fazer seu projeto bombar!</h3>
            <div class="col-md-12 text-magentela text-start">
                <h3>Dados pessoais</h3>
                <hr class="w-100 m-0">
            </div>
            <div class="col-md-6 mt-3">

            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</section>