<nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
        <a class="navbar-brand d-md-none " href="#">
            <img class="w-50p" src="../../../assets/logomesi.svg" alt="logomesi.svg">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav align-items-md-center me-auto mb-2 mb-lg-0 w-100 justify-content-md-around">
                <li class="nav-item w-50">
                    <a class="nav-link text-white fs-4" aria-current="page" href="#">
                        <img class="w-50p hover" src="../../../assets/logomesi.svg" alt="logomesi.svg">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fs-4 hover" aria-current="page" href="#feedbacks">DEPOIMENTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fs-4 hover" href="#portfolio">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-magentela fs-4 hover me-md-5 shadow-magentela" href="#orçamento">ORÇAMENTO</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<a target="_blank" href="https://www.instagram.com/olucasmesiano">
    <img class="insta-fix position-fixed hover shadow-white" src="../../../assets/icons/instalogo.svg" alt="instalogo.svg">
</a>