@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap') format('woff');
}

@font-face {
    font-family: 'GothamBlack';
    src: url("./assets/fonts/gotham-black.ttf");
}

:root {
    --magentela: #D91D5A
}

::-webkit-scrollbar {
    height: 10px;
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #303030;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #D91D5A;
}

html {
    height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
}

a {
    text-decoration: none;
    color: unset;

    &:hover {
        color: unset;
    }
}

.mh-600 {
    max-height: 600px !important;
}

h1 {
    transition: .4s ease-in-out;
    cursor: pointer;

    &:hover {
        color: #D91D5A !important;
        transform: scale(1.01);
    }
}

h2 {
    transition: .4s ease-in-out;
    cursor: pointer;

    &:hover {
        color: #D91D5A;
        transform: scale(1.05);
    }
}

h2::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 8px;
    background-color: #D91D5A;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

h2::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #D91D5A;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    cursor: pointer;
    transition: .4s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}


.text-magentela {
    color: #D91D5A !important;
}

.w-50p {
    width: 60px;
}

.hover {
    cursor: pointer;
    transition: .4s ease;
}

.hover:hover {
    transform: scale(1.05);
}

.text-border {
    color: transparent !important;
    -webkit-text-stroke: 1px white;
}

.text-mesiano {
    font-size: 8rem;
}

.fs-6rem {
    font-size: 6rem;
}

.fill-white:hover {
    color: white !important;
}

.shadow-magentela {
    text-shadow: 4px 4px 10px var(--magentela);
}

.shadow-white {
    filter: drop-shadow(2px 2px 5px white);
}

.img-mesi {
    --angle: 0deg;
    border: 1px solid;
    border-image: linear-gradient(var(--angle), var(--magentela), black) 1;
    animation: 1s mesi-img linear infinite, 5s floating ease-in-out infinite;
    transform: translate(0, 0);
}

@keyframes mesi-img {
    to {
        --angle: 360deg;
    }
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }  
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.ff-gotham {
    font-family: 'GothamBlack';
}
